@import url(variables.css);




body{
    background-color: var(--color-3);
}

.head{
    /*border: 1px solid red;*/
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vh;
    padding-right: 2vh;
}

.foods{
    /*border: 1px solid blue;*/
}

.foods h2{
    font-family: 'Poppins', sans-serif;
    color: var(--color-1);
}

.foods_menu{
    width: 30%;
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.foods_menu h3{
    padding-left: 2vh;
    display: flex;
    font-family:  sans-serif;
    color: var(--color-5);
}

.foods_menu h3:first-child{
    width: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    border: 1px solid #087f5b;  
    width: 9vh;
    height: 5vh;
}

.title_web{
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    width: 100%;
    height: 43cqmax;
    margin-bottom: 3vh;
}

.txt_title{
    /*border: 1px solid green;*/
    margin-left: 20%;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.txt_title h1{
    /*border: 1px solid violet;*/
    height: 10vh;;
    font-size: 8vh;
    color: var(--color-1);
    font-family: 'Poppins', sans-serif;
}

.txt_title h2{
    /*border: 1px solid salmon;*/
    width: 20vh;
    height: 20%;
    color: var(--color-5);
    font-family: 'Poppins', sans-serif;

}

.txt_title h2:last-child{
    background-color: var(--color-1);
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_title{
    margin-left: 8vh;
}

.img_title img{
    width: 90%;
}

.about{
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    width: 100%;
    height: 43cqmax;
    margin-bottom: 3vh;
}

.img_about{
    margin-left: 20%;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.txt_about{
    font-family: 'Poppins', sans-serif;;
    /*border: 1px solid green;*/
    margin-left: 8%;
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.txt_about h3:first-of-type{
    color: var(--color-1);
}

.txt_about h1{
    color: var(--color-5);
}

.txt_about h3{
    color: var(--color-5);
}

.txt_about h3:last-child{
    width: 14vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    color: var(--color-5);
}

.food_menu{
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    width: 100%;
    height: 43cqmax;
    margin-bottom: 3vh;
    flex-direction: column;
}

.txt_menfood{
    margin-top: 5vh;
    /*border: 1px solid orange;*/
    width: auto;
    height: 6vh;
}

.txt_menfood h3{
    color: var(--color-1);
    font-family: 'Poppins', sans-serif;
}

.txt_subtitle{
    margin-top: 8vh;
    /*border: 1px solid violet;*/
    font-size: 2.5vh;
}

.txt_subtitle h1{
    color: var(--color-5);
    font-family: 'Poppins', sans-serif;
}

.imgs_food{
    margin-top: 10vh;
    /*border: 1px solid green;*/
    height: 37vh;
    width: 148vh;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.img_food{
    /*border: 1px solid violet;*/
    background-color: var(--color-5);
    font-family: 'Poppins', sans-serif; 
}

.img_food img{
    width: 20vh;
    padding-top: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
}

.img_food h4{
    display: flex;
    justify-content: center;
    color: var(--color-4);
}

.img_food h4:last-child{
    color: var(--color-1);
}   